body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    background-color: #272E31;
    color: #fff;
    padding: 20px 0;
    margin-top: auto;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.light-white{
    color: #ffffffa9;
}
.footer-section {
    
    flex: 1;
    min-width: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.footer-section h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.footer-section p {
    line-height: 1.5;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    background-color: #01060c;
    text-align: center;
    border-top: 1px solid #444;
    padding: 10px 0;
    margin-top: 20px;
}

.footer-bottom p {
    margin: 5px 0;
}

.footer-bottom a {
    margin: 0 5px;
    display: inline-block;
}

/* Style all font awesome icons */
.fa {
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    color: white;
  }
  .fa-linkedin {
    color: white;
  }